<?php $this->extend('layout') ?>
<!-- 
This block is defined using the $this->block() method, which takes the block name as its first argument.
In your layout, make sure to use the <?php $this->content('content') ?> method to render the content of this view.
 -->
<?php $this->block('content') ?>
    <h1>User Profile</h1>
    <?php if (isset($message)): ?>
        <p>Welcome, <?= $this->e($message) ?></p>
    <?php else: ?>
        <p>No name provided</p>
    <?php endif; ?>
<?php $this->endBlock() ?>